
@charset "UTF-8";

@layer layer1 {
    @layer layer2 {

        .head {
            display: flex;
        }
    }

    .head {
        height: 100%;
        width: 100%;
    }
}

@layer layer3 {

    .head {
        display: block;
    }
}

.head {
    height: 40px !important;
    width: 40px !important;
}

@font-face {
    font-family: "lilitaone-regular";
    src: url("font/lilitaone-regular.ttf");
}

:root {
    all: unset;
    --color: blue;
}

.head .account {
    height: 40px !important;
    width: 40px !important;
    position: absolute;
    top: 12px;
    left: 15px;
    border-radius: 20px;
    border: 2px #837A78 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flash;
}

#dot:hover {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 16px;
    right: 13px;
    background-color: #F16842;
    border-radius: 5px;
    display: block;
}

@media (min-width: 0px) and (max-width: 319px) {
    a[target="_blank"] {
        position: absolute !important;
        top: 20px;
        left: 0;
        z-index: 99;
    }
}

@keyframes flash {
    0%,50%,to {
        opacity: 1;
    }

    55% {
        opacity: 0.5;
    }

    25%,75% {
        opacity: 0;
    }
}

div {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 16px;
    right: 13px;
    background-color: #F16842;
    border-radius: 5px;
    display: block;
}
